// Fonts
@font-face {
  font-family: Poppins;
  src: url("../../assets/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: Equalize;
  src: url("../../assets/fonts/Equalize.ttf");
}
@font-face {
  font-family: PlayBold;
  src: url("../../assets/fonts/Play-Bold.ttf");
}
$poppins: 'Poppins',sans-serif;
$equalize: 'Equalize',sans-serif;
$playBold: 'PlayBold',sans-serif;